<head>
    <meta name="description" content="Arnab Kumar Shil: A python developer from Bangladesh">
    <meta name="author" content="Arnab Kumar Shil">
     following <meta> tag in your HTML <head>:

<meta http-equiv="refresh" content="0;http://ruddra.com">
</head>